[Desktop Entry]
Name=Twelve-dark
Comment=

X-KDE-PluginInfo-Author=tausciam
X-KDE-PluginInfo-Email=tausciam@gmail.com
X-KDE-PluginInfo-Name=Twelve-dark
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-EnabledByDefault=true
